:root {
  --primary-color: rgb(73, 48, 130);
  --primary-color-light: rgba(73, 48, 130, 0.1);
  --secondary-color: rgb(170, 224, 249);
  --secondary-color-light: rgba(170, 224, 249, 0.2);
  --grey: rgb(166, 168, 171);
  --game-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "KapraNeue-Regular";
  src: url("fonts/KapraNeue-Regular.otf");
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "KapraNeue-Regular";
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

#sapper {
  height: 100%;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
